body{
    height: 160vh;
    width: 100%;
    padding-top: 20px;
    background-color:rgba(212, 212, 212, 0.493);
}
.navbar{
    background-color: white;
    height: 60px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    display: flex;
    align-items:center;
    justify-content:flex-start;
    box-shadow:  0 10px 8px rgba(0, 0, 0, 0.1); 
}
#btn1{
    margin-left: 40px;
    border: none;
    border-radius: 2px;
    /*background-color:white;*/
    background-color: blueviolet;
    transition: background-color 0.3s, box-shadow 0.3s;
    color:white;
    box-shadow: 4px  4px 10px blueviolet;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 40px;
    width: 170px;
    font-size: 16px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
#btn2{
    margin-left: 30px;
    border: none;
    background-color: white;
    border-radius: 20px;
    height: 40px;
    width: 180px;
    font-size: 16px;
    color: rgb(73, 68, 68);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#btn3{
  margin-left: 30px;
  border: none;
  background-color: white;
  border-radius: 20px;
  height: 40px;
  width: 180px;
  font-size: 16px;
  color: rgb(73, 68, 68);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.logo{
    width: 100px;
    height: 80px;

}
.tittle a span{
    
    color:rgb(117, 57, 173);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tittle a{
    font-size: 40px;
    text-decoration: none;
    color:blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tittle{
    margin-left: 40px;
}
#btn3:hover,
#btn2:hover
{
    background-color: rgba(212, 212, 212, 0.493);
}
#btn1:hover{
  background-color:rgb(95, 30, 156);;
}
.logo-img {
    width: 45px;
    height: 44px;
    cursor: pointer;
    margin-left: 450px;
  }
  

  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 999px;
  }
  
  .dropdown ul {
    list-style: none;
    padding: 0;
  }
  
  .dropdown li {
    cursor: pointer;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 15px;
  }
  
  .dropdown li:hover {
    background-color: #ddd;
  }
  /********************************************ta7t navbar************************************************/
  .wost{
    background-color: whitesmoke;
    margin-top: 100px;
    padding-top: 20px;
    height: 300px;
    width: 80%;
    margin-left: 120px;
    border-radius: 20px;
    box-shadow:  0 20px 8px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, and color */
  }
  .wost h1 {
    font-size: 25px;
    margin-left: 180px;
    color:rgb(82, 72, 138);
    
  }
  #ph1{
    margin-left: 320px;
    color:rgb(105, 94, 167);
  }
  /****************************multiselect/////////////////////////////*/

  .ng-select {
    width: 300px;
    font-family: Arial, sans-serif;
  }
  
  ::ng-deep .competences .ng-select-container {
    height: 42px !important;
  }


  .competences{
    margin-top: 40px;
    margin-left: 40px;
  }

.espacerecherche{
    display: grid;
    grid-template-columns: 420px 380px 10px;
}
.type{
    margin-top: 40px;
}
.type #typecontrat{
    width: 300px;
    font-family: Arial, sans-serif;
    height: 42px;
    border-radius: 4px;
}

.type select {
  padding: 8px;
  outline:none;
}

.selected-option {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}


.btnche{
    margin-top: 40px;
    height: 35px;
}
.btnche #bt1{
    width: 130px;
    height: 42px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.type select{
    color:grey; /* Set the color of the "Chercher par type" option */
}
.type select option{
    color:black;
}
.btnche button {
  display: inline-block;
  background-color: blueviolet;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial, sans-serif;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btnche button:hover {
  background-color:  rgb(87, 24, 146);
}
/******************************fooooooter**************************************/
footer{
  background-color:rgb(87, 24, 146);
  color: aliceblue;
  height: 440px;
}
.logo {
  width: 200px;
  height: auto; 
}
.col h6{
  font-size: 15px;
}
.col p{
  font-size: 12px;
}
.r1{
  padding-top: 4px;
}
.resaux{
  margin-left: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.resaux i{
  font-size: 20px;
}