<!DOCTYPE html>
<html>
<head>
   
</head>

<body>
    <app-navbar></app-navbar>
    <div class="container mt-6">
        <table class="table">
            <thead>
                <tr>
                    <th>Intitulé du Poste</th>
                    <th>Date de Candidature</th>
                    <th>État de la Candidature</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Poste 1</td>
                    <td>2023-08-25</td>
                    <td>En attente</td>
                    <td><button class="btn btn-danger">Annuler</button></td>
                </tr>
                <tr>
                    <td>Poste </td>
                    <td>2023-08-25</td>
                    <td>En attente</td>
                    <td><button class="btn btn-danger">Annuler</button></td>
                </tr>
                <tr>
                    <td>Poste 2</td>
                    <td>2023-08-28</td>
                    <td>Acceptée</td>
                    <td><button class="btn btn-danger">Annuler</button></td>
                </tr>
                <tr>
                    <td>Poste 3</td>
                    <td>2023-08-30</td>
                    <td>Refusée</td>
                    <td><button class="btn btn-danger">Annuler</button></td>
                </tr>
                <!-- Ajoutez plus de lignes ici -->            </tbody>
        </table>
   
    </div>
    <app-footer></app-footer>
</body>
</html>