
body {
    font-family: Arial, sans-serif;
    background: url('src/assets/images/backg.jpg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
  }
  .logo {
    width: 220px;
    margin-bottom: 180px;

  }

  .welcome-container {
    margin-right:80px;
    margin-top: 180px;
    margin-left: 150px;

  }

  h1 {
    margin-top: 0;
    font-size: 32px;
    color: rgb(49, 36, 126);
  }
  h4 {
    margin-top: 0;
    font-size: 19px;
    color: rgb(29, 19, 83);
  }

  .buttons-container {
    margin-top: 30px;
    margin-left: 45px;
    padding: 40px;
  }

  .button {
    display: inline-block;
    padding: 15px 30px;
    background-color:  rgb(49, 36, 126);
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 30px;
    margin: 10px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .button:hover {
    background-color: #2980b9;
  }