<!DOCTYPE html>
<html lang="en">
<head>
    
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome Page</title>
</head>
<body>
    <div class="blasa">
        <div class="logo"><img src="assets/images/FORSA.png" class="logo" alt="Logo" /></div>
    </div>

  <div class="welcome-container">
    <h4 id="c">Welcome To Forsa </h4>
    <h1 id="a">Unlock Your Potential </h1>
    <h1 id="b">Discover Your Dream Internship or Job Today!</h1>
    <div class="buttons-container">

      <a href="loginpage" class="button">Espace candidat</a>
      <a href="logincompany" class="button">Espace recruteur</a>
    </div>
  </div>
</body>
</html>
