<!DOCTYPE html>
<html lang="en">
<head>
    
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome Page</title>
</head>
<body>
    <div class="blasa">
        <div class="logo"><img src="assets/images/FORSA.png" class="logo" alt="Logo" /></div>
    </div>

  <div class="welcome-container">
    <h4 id="c">Bienvenue chez Forsa </h4>
    <h1 id="a">Explorez vos compétences </h1>
    <h1 id="b">Trouvez votre stage ou emploi de en un clic!</h1>
    <div class="buttons-container">

      <a href="loginpage" class="button">Candidat</a>
      <a href="logincompany" class="button">Entreprise</a>
    </div>
  </div>
</body>
</html>
