
body{
  background: url('src/assets/images/backg.jpg') center/cover no-repeat;
    font-family: Arial, sans-serif;
    width: 100%;

}
.flex-container {
    display: flex;
    align-items:flex-start;
    }
  
  .buttons {
    margin-left: 260px;
    margin-top: 30px;
  }
  
  .signup-button,
  .login-button {
    background-color: rgb(236, 101, 101);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 4px; }
  
  .signup-button:hover,
  .login-button:hover,
  .recherche button:hover {
    background-color: #df4db3;
  }
  .logo{
    width: 120px;
  }
  .recherche input{
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 300px;
    width: 250px;
    height: 35px;
  }
  .recherche button {
    border-radius: 10px;
    margin-left: 10px;
    background-color: rgb(236, 101, 101);
    color: white;

    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 35px;

  
  }  
  .wost{
    background-color: #df4db3;
  }
