@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{

  font-family: 'Poppins', sans-serif;
  
}
body{
  height: 150vh;
  width: 100%;
  
  background-color: #d9d9dd;
  font-family: 'Poppins', sans-serif;
  
}
.container{
  width: 100%;
  background: #fff;
  margin-top: 70px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.container .text h1{
  margin-left: 20px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color:blueviolet;
 
}
form .content{

  margin-top: 0;
}
.container form{
  padding: 10px 0 0 0;
}
.container form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}

.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  color: #771fa0;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.row{
  display: grid;
  grid-template-columns: 150px 20px;
}
#harq{

  margin-top: 10px;
}
#date{
  width: 200px;
  font-size: 15px;
  margin-left: 150px;
  padding-top: 6px;
}

.benregistrer{
  background-color: blueviolet;
  width: 200px;
  height: 40px;
  color: #fff;
  border-radius: 4px;
  border: none;
  margin-top: 50px;
  margin-left: 420px;
  
}
.benregistrer:hover{
  background-color: #6a1c8f;
}


.form-row h1{
  font-size: 15px;
  font-weight:lighter;
    font-family: 'Poppins', sans-serif;
}
.jomla h3{
  font-size:15px;
	color:rgb(81, 22, 136);
  margin-left: 20px;
}

.input-data input {
  border: none;
  outline: none; /* Remove the default focus outline */
  padding: 10px; /* Add some padding for spacing */
}

.input-data .underline {
  height: 2px;
  background-color: rgb(209, 202, 202); /* Set the color of the underline */
  transition: width 0.3s; /* Add a smooth transition for width changes */
}

/* Apply styles when the input is focused */
.input-data input:focus + .underline {
  width: 100%; /* Expand the underline to cover the input width */
}

.ng-select {
  border-radius: 4px;
  width: 300px;
  font-family: Arial, sans-serif;
}


.comp{
  margin-left: 20px;
  margin-top: 10px;
}
.competences{
  margin-left: 90px;
}

.espacerecherche{
  display: grid;
  margin-top: 30px;
  margin-left: 50px;
  grid-template-columns: 420px 380px 10px;
}
/***************************NAVBAR************************************************************************/
.navbar{
  background-color: #524582;
  height: 170px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  box-shadow:  0 10px 8px rgba(0, 0, 0, 0.1); 
}
.buttonbar{
  display: flex;
  

}
#btn1{
    margin-left: 100px;
    border: none;
    border-radius: 20px;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 180px;
    font-size: 14px;
    background-color:rgba(0, 0, 0, 0.137);
    border-radius: 2px;
    transition: 700ms ease-out;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

#btn4{
  margin-left: 30px;
  border: none;
  color: white;
  border-radius: 5px;
  height: 40px;
  width: 180px;
  font-size: 14px;
  background-color:rgba(0, 0, 0, 0.137);
  border-radius: 2px;
  transition: 700ms ease-out;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#btn3{
  margin-left: 30px;
  border: none;
  border-radius: 2px;
  background-color: blueviolet;
  transition: background-color 0.3s, box-shadow 0.3s;
  color:white;
  box-shadow: 4px  4px 10px blueviolet;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  height: 40px;
  width: 170px;
  font-size: 14px;
  color: white;
}


#btn1:hover,
#btn4:hover{

  background-color: rgba(137, 43, 226, 0.774);
  transition: background-color 0.3s, box-shadow 0.3s;
  color:white;
  box-shadow: 4px  4px 10px blueviolet;
}
.tittle a span{
      
  color:white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tittle a{
  font-size: 40px;
  text-decoration: none;
  color:rgb(219, 216, 216);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tittle{
  margin-left: 40px;
}

/************************************************************************************************************/
