@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{

  font-family: 'Poppins', sans-serif;
  
}
body{
  height: 200vh;
  width: 100%;
  padding-top: 20px;
  background-color:#f5F5F5;
  font-family: 'Poppins', sans-serif;
  
}
.container{
  width: 600px;
  max-width: 800px;
  background: #fff;
  margin-left: 320px;
  margin-top: 70px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.container .text h1{
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  color:blueviolet;
 
}
.container form{
  padding: 30px 0 0 0;
}
.container form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}
/*
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}*/
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  border: none;
  transform: translateY(-20px);
  font-size: 14px;
  color: #771fa0;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.row{
  display: grid;
  grid-template-columns: 150px 20px;
}
#harq{

  margin-top: 10px;
}
#date{
  width: 200px;
  font-size: 15px;
  margin-left: 150px;
  padding-top: 6px;
}
/*
.input-data .underline:before{
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
  border: none;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
  border: none;
}
*/
.benregistrer{
  background-color: blueviolet;
  width: 490px;
  height: 40px;
  color: #fff;
  border-radius: 4px;
  border: none;
  margin-top: 20px;
  margin-left: 3px;
  
}
.benregistrer:hover{
  background-color: #6a1c8f;
}

@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}
.form-row h1{
  font-size: 15px;
  font-weight:lighter;
    font-family: 'Poppins', sans-serif;
}
.jomla h3{
  font-size:16px;
	color:rgb(81, 22, 136);
  margin-left: 100px;
}
/***************************************************************************************************/
.navbar{
  background-color: white;
  height: 60px;
  margin-top: 20px;
  display: flex;
  align-items:center;
  justify-content:flex-start;
  box-shadow:  0 10px 8px rgba(0, 0, 0, 0.1); 
}
#btn1{
    margin-left: 20px;
    border: none;
    border-radius: 20px;
    background-color:white;
    height: 40px;
    width: 170px;
    font-size: 16px;
    color:rgb(73, 68, 68);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
#btn2{
    margin-left: 30px;
    border: none;
    background-color: white;
    border-radius: 20px;
    height: 40px;
    width: 180px;
    font-size: 16px;
    color: rgb(73, 68, 68);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#btn4{
  margin-left: 30px;
  border: none;
  background-color: white;
  border-radius: 5px;
  height: 40px;
  width: 180px;
  font-size: 16px;
  color: rgb(73, 68, 68);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#btn3{
  margin-left: 30px;
  border: none;
  background-color: blueviolet;
  border-radius: 5px;
  height: 40px;
  width: 180px;
  font-size: 16px;
  transition: background-color 0.3s, box-shadow 0.3s;
  color:white;
  box-shadow: 4px  4px 10px blueviolet;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a span{
    
    color:rgb(117, 57, 173);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    font-size: 40px;
    text-decoration: none;
    color:blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tittle{
    margin-left: 40px;
}

/************************************************************************************************************/

.input-data input {
  border: none;
  outline: none; /* Remove the default focus outline */
  padding: 10px; /* Add some padding for spacing */
}

.input-data .underline {
  height: 2px;
  background-color: rgb(209, 202, 202); /* Set the color of the underline */
  transition: width 0.3s; /* Add a smooth transition for width changes */
}

/* Apply styles when the input is focused */
.input-data input:focus + .underline {
  width: 100%; /* Expand the underline to cover the input width */
}

.ng-select {
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 300px;
  font-family: Arial, sans-serif;
}

::ng-deep .competences .ng-select-container {
  height: 42px !important;
}

.comp{
  margin-left: 20px;
  margin-top: 10px;
}
.competences{
  margin-left: 90px;
}

.espacerecherche{
  display: grid;
  margin-top: 30px;
  margin-left: 50px;
  grid-template-columns: 420px 380px 10px;
}