
<!DOCTYPE html>
<head></head>

<body>
    <div class="page">
        <div class="flex-container">
            <div class="logo">
            <img src="assets/images/FORSA.png" class="logo" alt="Logo" />
            </div>
            <div class="recherche" >
                <input type="text" >
                <button classe="search">
                    <div>
                      <i class="bi bi-search"></i> 
                      <span>Search</span>
                    </div>
                </button>
            </div>
            <div class="buttons">
            <button class="signup-button" routerLink="sui" routerLinkActive="active">Sign Up</button>
            <button class="login-button" routerLink="loginpage" routerLinkActive="active">Log In</button>
        </div>  
        </div>
        
        <div class="wost">
        </div>

    </div>
</body>
