<!DOCTYPE html>
<html lang="en" >
<head></head>
<body>
   <div class="tittle">
      <a href="welcomepage"><span>FO</span>RSA</a>
  </div>
<div class="navbar">
  <div class="b1"><button id="btn1" routerLink="/loginpage" routerLinkActive="active">Connexion</button></div> 
  <div class="b3"><button id="btn3"  routerLink="/form" routerLinkActive="active">Créer votre cv </button></div> 
  <div class="b4"><button id="btn4"  routerLink="/pagecv" routerLinkActive="active">Candidature</button></div>

</div>
<div class="container">
   <div class="text">
      <h1>Créer votre cv</h1>
   </div>
   <form action="#">
    <div class="jomla">
      <h3>Veuillez remplir votre carrière universitaire</h3>
    </div>
      <div class="form-row">
         <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label for=""><h1>Etablissement :</h1></label>
          </div>
        </div>

         <div class="form-row">

         <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label for=""><h1>Type de diplome :</h1></label>
         </div>
      </div>

      <div class="form-row">
         <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label for=""><h1>Filière du diplome</h1></label>
         </div>
        </div>


         <div class="form-row">

         <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label for=""><h1>Intitulé du diplome</h1></label>
         </div>
      </div>


      <div class="form-row">

        <div class="input-data">
            <div class="row">
                <div><h1 id="harq">Diplomer depuis</h1></div>
                <div><input id="date" type="date" required></div>
            </div>

        </div>
        
     </div>
      <div class="form-row">
         <div class="input-data textarea">
            <textarea rows="8" cols="80" required></textarea>
            <br />
            <div class="underline"></div>
            <label for=""><h1>Compétences</h1></label>
         </div>
      </div>

      <div class="form-row submit-btn">
         <div class="input-data">
            <button   routerLink="/pagecv" routerLinkActive="active" class="benregistrer">Enregistrer</button>
         </div>
      </div>
   </form>
</div>
</body>
</html>