
<!DOCTYPE html>
<html lang="en">
<body>
		<div class="limiter" *ngIf="showDiv1" class="div1">
		<div class="container-login100">
			<div class="home"><i routerLink="/welcomepage" routerLinkActive="active" class="bi bi-house"></i></div>
			
			<div class="wrap-login100">
				<div class="buttons">
					<div class="b1"><button class="ins" (click)="toggleDivs()">inscrire</button></div>
					<div class="b2"><button class="con">Connecter</button></div>
				</div>
				
				<form class="login100-form validate-form">


					<span class="login100-form-title">
						Connexion
						<h6>Tenez-vous informé dans votre univers professionnel</h6>
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email" placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" placeholder="Mot de passe">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" routerLink="/home" routerLinkActive="active">
							Connecter
						</button>
					</div>

					<div class="text-center-p-t-12">
						<span class="txt1">
							Mot de passe
						</span>
						<a class="txt2" href="#">
							Oublié?
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="limiter2" *ngIf="showDiv2" class="div2">
		
		<div class="container-login100">
			<div class="home"><i routerLink="/welcomepage" routerLinkActive="active" class="bi bi-house"></i></div>
			<div class="wrap-login100">
				<div class="buttons">
					<div class="b3"><button class="ins1" >inscrire</button></div>
					<div class="b4"><button class="con1" (click)="toggleDivs()">Connecter</button></div>
				</div>
				
				<form class="login100-form validate-form">
					<span class="login100-form-title">
						Insciption
						<h6>Tenez-vous informé dans votre univers professionnel</h6>
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email" placeholder="Email"><br>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" placeholder="Mot de passe"><br>
						<input class="input100" type="password" name="pass" placeholder="Verifier votre Mot de passe">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" routerLink="/form" routerLinkActive="active">
							Créer votre compte
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	

</body>
</html>