footer{
  background-color: #002F69;
  color: aliceblue;
  height: 440px;
}
.logo {
  width: 200px;
  height: auto; 
}
.col h6{
  font-size: 15px;
}
.col p{
  font-size: 12px;
}
.r1{
  padding-top: 4px;
}
.resaux{
  margin-left: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}