body {
  height: 270vh;
  padding-top: 20px;
  font-family: Arial, sans-serif;
  background: linear-gradient(80deg,  rgb(200, 167, 231) 50%,white 58% );
  font-family: 'Poppins', sans-serif;
 
}

.container {
  width: 100%;
  background: #fff;
  margin-top: 70px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Adding shadow to the container */
}

h1 {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color:blueviolet;
}
.form-row {
  margin-top: 20px;
  display: flex;
  gap: 100px;
  width: 100%;

}


form {
  display: flex;
  flex-wrap: wrap;
}

label {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 20px;
}
.container button,
input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 16px;
}
textarea {
  resize: vertical;
}
.button-classe{
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: center;
  
}
.container  button {
  background-color:blueviolet;
  width: 250px;
  color: #fff;
  border: none;
  cursor: pointer;
}
.container button:hover {
  background-color: rgb(58, 17, 97);
}

label input[type="checkbox"] {
  margin-right: 5px;
}
/***************************************************************************************/
/***************************************************************************************************/
.navbar{
  background-color: white;
  height: 70px;
  margin-top: 20px;
  display: flex;
  align-items:center;
  justify-content:flex-start;
  box-shadow:  0 10px 8px rgba(0, 0, 0, 0.1); 
}
#btn1{
    margin-left: 100px;
    border: none;
    border-radius: 20px;
    background-color:white;
    border-radius: 5px;
    height: 40px;
    width: 180px;
    font-size: 16px;
    color:rgb(73, 68, 68);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

#btn3{
  margin-left: 30px;
  border: none;
  background-color: white;
  border-radius: 5px;
  height: 40px;
  width: 180px;
  font-size: 16px;
  color: rgb(73, 68, 68);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#btn4{
  margin-left: 30px;
  border: none;
  background-color: blueviolet;
  border-radius: 5px;
  height: 40px;
  width: 180px;
  font-size: 16px;
  transition: background-color 0.3s, box-shadow 0.3s;
  color:white;
  box-shadow: 4px  4px 10px blueviolet;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.tittle a span{


    color:rgb(117, 57, 173);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#btn1:hover,
#btn4:hover{

  background-color: rgba(137, 43, 226, 0.774);
  transition: background-color 0.3s, box-shadow 0.3s;
  color:white;
  box-shadow: 4px  4px 10px blueviolet;
}
.tittle a{
    font-size: 40px;
    text-decoration: none;
    color:blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tittle{
    margin-left: 40px;
}
/************************/