body {
  height: 270vh;

  font-family: Arial, sans-serif;
  background-color: #d9d9dd;
  font-family: 'Poppins', sans-serif;
 
}

.container {
  width: 100%;
  background: #fff;
  margin-top: 70px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Adding shadow to the container */
}

h1 {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color:blueviolet;
}
.form-row {
  margin-top: 20px;
  display: flex;
  gap: 100px;
  width: 100%;

}


form {
  display: flex;
  flex-wrap: wrap;
}

label {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 20px;
}
.container button,
input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 16px;
}
textarea {
  resize: vertical;
}
.button-classe{
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: center;
  
}
.container  button {
  background-color:blueviolet;
  width: 250px;
  color: #fff;
  border: none;
  cursor: pointer;
}
.container button:hover {
  background-color: rgb(58, 17, 97);
}

label input[type="checkbox"] {
  margin-right: 5px;
}
/***************************************************************************************/
/***************************************************************************************************/
.navbar{
  background-color: #524582;
  height: 170px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  box-shadow:  0 10px 8px rgba(0, 0, 0, 0.1); 
}
.buttonbar{
  display: flex;
}
#btn1{
  margin-left: 100px;
  border: none;
  border-radius: 20px;
  color: white;
  border-radius: 5px;
  height: 40px;
  width: 180px;
  font-size: 14px;
  background-color:rgba(0, 0, 0, 0.137);
  border-radius: 2px;
  transition: 700ms ease-out;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#btn4{
  margin-left: 30px;
  border: none;
  border-radius: 2px;
  background-color: blueviolet;
  transition: background-color 0.3s, box-shadow 0.3s;
  color:white;
  box-shadow: 4px  4px 10px blueviolet;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  height: 40px;
  width: 170px;
  font-size: 14px;
  color: white;
}
#btn3{
  margin-left: 30px;
  border: none;
  color: white;
  border-radius: 5px;
  height: 40px;
  width: 180px;
  font-size: 14px;
  background-color:rgba(0, 0, 0, 0.137);
  border-radius: 2px;
  transition: 700ms ease-out;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}


#btn1:hover,
#btn3:hover{

  background-color: rgba(137, 43, 226, 0.774);
  transition: background-color 0.3s, box-shadow 0.3s;
  color:white;
  box-shadow: 4px  4px 10px blueviolet;
}
.tittle a span{
      
  color:white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tittle a{
  font-size: 40px;
  text-decoration: none;
  color:rgb(219, 216, 216);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tittle{
  margin-left: 40px;
}
/************************/