<!DOCTYPE html>
<html >
<head>
</head>
<body>

  <div class="navbar">
    <div class="tittle">
      <a href="welcomepage"><span>FO</span>RSA</a>
  </div>
    <div class="b1"><button id="btn1" routerLink="/loginpage" routerLinkActive="active">Connexion</button></div> 
    <div class="b3"><button id="btn3"  routerLink="/form" routerLinkActive="active">Création du Profile </button></div> 
    <div class="b4"><button id="btn4"  routerLink="/pagecv" routerLinkActive="active">Candidature</button></div>
  </div>
  <div class="container">
    <h1>Formulaire de candidature</h1>
    <form action="#" method="post">
      <label for="nom">Nom complet</label>
      <input type="text" id="nom" name="nom" required>

      <label for="adresse">Adresse complète</label>
      <input type="text" id="adresse" name="adresse" required>

      <label for="experience">Expérience professionnelle</label>
      <textarea id="experience" name="experience" rows="4" required></textarea>

      <label for="cv">Télécharger votre CV</label>
      <input type="file" id="cv" name="cv" required>

      <label for="references">Références professionnelles</label>
      <textarea id="references" name="references" rows="4" required></textarea>

      <label for="lettre_motivation">Lettre de motivation</label>
      <textarea id="lettre_motivation" name="lettre_motivation" rows="4" required></textarea>

      <label for="autres">Autres informations</label>
      <textarea id="autres" name="autres" rows="4"></textarea>

      <label>
        <input type="checkbox" name="consentement" required>
        J'accepte que mes données personnelles soient collectées et traitées dans le cadre de ma candidature.
      </label>

      <button type="submit" routerLink="/home" routerLinkActive="active">Soumettre la candidature</button>
    </form>
  </div>
</body>
<app-footer></app-footer>
</html>