<!DOCTYPE html>
<html lang="en" >
<head>

  <meta charset="UTF-8">
  <title>CodePen - Contact us Form</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="C:\Users\zoghl\project-name\src\app\form-component\form-component.component.css">
</head>
<body>

<!-- partial:index.partial.html -->
<div class="container">
   <div class="text">
      Creer votre cv!
   </div>
   <form action="#">
    <div>
      Veuillez remplir votre carrière universitaire
    </div>
      <div class="form-row">
         <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label for="">Etablissement :</label>
          </div>
        </div>

         <div class="form-row">

         <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label for="">Type de diplome :</label>
         </div>
      </div>

      <div class="form-row">
         <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label for="">Filière du diplome</label>
         </div>
        </div>


         <div class="form-row">

         <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label for="">Intitulé du diplome</label>
         </div>
      </div>


      <div class="form-row">

        <div class="input-data">

           <input type="date" required>
           <div class="underline"></div>
           <label for=""></label>
        </div>
        à
        <div class="input-data">
          <input type="date" required>
          <div class="underline"></div>
          <label for=""></label>
    </div>
     </div>
      <div class="form-row">
         <div class="input-data textarea">
            <textarea rows="8" cols="80" required></textarea>
            <br />
            <div class="underline"></div>
            <label for="">Compétences</label>
         </div>
      </div>

      <div class="form-row submit-btn">
         <div class="input-data">
            <div class="inner"></div>
            <input type="submit" value="enregistrer">
         </div>
      </div>
   </form>
</div>
<!-- partial -->


</body>
</html>