body{
    height: 200vh;
    background-color: #f5F5F5;
    padding-top: 20px;
    font-family: Arial, sans-serif;
}

.page-content{
    margin-top: 60px;
    background-color: white;
    width: 80%;
    padding-bottom: 20px;
    padding-top: 50px;
    margin-bottom: 200px;
    margin-left: 120px;
    box-shadow:  0 10px 8px rgba(0, 0, 0, 0.1); 

}
.entreprise,
.address,
.contact
{
    margin-left: 30px;
    margin-bottom: 50px;

}
.contact h5
{
color:  #121113;
font-size: 15px;

}

.entreprise h2,
.address h2,
.contact h2
{
color: rgb(102, 28, 102);
font-size: 20px;
}
.form-group1,
.form-group2
{   margin-left: 20px;
    display: grid;
    grid-template-columns: 500px 200px 200px;
    grid-template-rows: 70px;
    margin-top: 20px;
}

.form-group1 input,
.form-group2 input,
.form-group3 input
{
padding-right: 100px;
border: 1px solid transparent;
background: transparent;
appearance: unset;
-moz-appearance: unset;
-webkit-appearance: unset;
-o-appearance: unset;
-ms-appearance: unset;
outline: none;
-moz-outline: none;
-webkit-outline: none;
-o-outline: none;
-ms-outline: none;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
}
.form-group1 input,
.form-group2 input,
.form-group3 input{
    border-bottom: 1px solid #ccc;
}
.form-group1 input :focus,
.form-group2 input:focus{
    border-bottom: 1px solid #ccc;
}
.form-group2 #adcom,
.form-group2 #region
{

width: 400px;
}

.form-group3 input
{
width: 600px;
}
.form-group3 ::placeholder,
.form-group2 ::placeholder,
.form-group1 ::placeholder
{
color: #3c4674;
font-size: 12px;
}
#secteur
{
width: 290px;
padding-bottom: 8px;
margin-left: 20px;
color: #3c4674;
font-size: 12px;
}
#taille
{
width: 290px;
padding-bottom: 8px;
color: #3c4674;
font-size: 12px;
}


.form-group3{
margin-top: 20px;
margin-left: 20px;

}
#bbtn2{
    margin-left: 440px;
    background-color:#9053c7;
    border: 1px solid #ccc;
    color: white;
	height: 40px;
    width: 100px;
    cursor: pointer;
}
#bbtn1{
    margin-left: 440px;
    background-color:white;
    border: 1px solid #ccc;
    color: black;
	height: 40px;
    width: 100px;
    cursor: pointer;
}
#bbtn1:hover {
    background-color:9053c7;
    color: white;
  }

#bbtn2:hover {
    background-color:#fffefe;
    color: #121113;
    border-color:black;
  }
  .enregistrer{
    display: grid;
    grid-template-columns: 110px 100px;
    margin-left: 280px;
  }

/*******************************/
.navbar{
	background-color: white;
	height: 60px;
	margin-top: 20px;
	display: flex;
	align-items:center;
	justify-content:flex-start;
	box-shadow:  0 10px 8px rgba(0, 0, 0, 0.1); 
  }
  #btn1{
	  margin-left: 20px;
	  border:none;
	  background-color:white;
	  height: 40px;
	  width: 170px;
	  font-size: 16px;
	  color:rgb(73, 68, 68);
	  font-family:Verdana, Geneva, Tahoma, sans-serif;
	}
  #btn2{
	  margin-left: 30px;
	  border: none;
	  background-color: white;
	  border-radius: 5px;
	  height: 40px;
	  width: 180px;
	  font-size: 16px;
	  font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  #btn3{
	margin-left: 30px;
	border: none;
	background-color: blueviolet;
	border-radius: 5px;
	height: 40px;
	width: 180px;
	font-size: 16px;
	transition: background-color 0.3s, box-shadow 0.3s;
	  color:white;
	  box-shadow: 4px  4px 10px blueviolet;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  #btn4{
	margin-left: 30px;
	border: none;
	background-color: white;
	border-radius: 5px;
	height: 40px;
	width: 180px;
	font-size: 16px;
	color: rgb(73, 68, 68);
	font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  a{
	font-size: 40px;
	text-decoration: none;
	color:blueviolet;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  a span{
	  
	  color:rgb(117, 57, 173);
	  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .tittle{
	  margin-left: 40px;
  }