<html>
<head>
</head>
<body >
  <div class="navbar">
    <div class="tittle">
        <a href="welcomepage"><span>FO</span>RSA</a>
    </div>
    <div class="buttonbar">
    <div class="b1"><button id="btn1" routerLink="/logincompany" routerLinkActive="active">Connexion</button></div> 
    <div class="b3"><button id="btn3"  routerLink="/espacerecruteur" routerLinkActive="active">Créer votre profile</button></div> 
    <div class="b4"><button id="btn4"  routerLink="/offre" routerLinkActive="active">Créer un offre</button></div>

  </div>
</div>
	<div class="page-content">
			<form class="entreprise">
				<div class="part1">
					<h2>Entreprise:</h2>
					
					<div class="form-group1">
						<div>
                            
							<input type="text" id="Nom de l'entreprise" class="input-text" placeholder="Nom de l'entreprise:" required>
						</div>
						<div class="te">
                            
							<select id="taille">
                                <option disabled selected>Taille de l'entreprise</option>
                                <option>Micro-entreprise &lt; 10</option>
                                <option>Petite entreprise &lt; 50</option>
    							<option>Moyenne entreprise &lt; 250</option>
								<option > Grande entreprise ≥ 250 </option>
                            </select>
						</div>
					</div>
					    <div >
                            <select id="secteur">
                                <option disabled selected>secteur d'activité</option>
                                <option >info/telecom</option>
                                <option >communication</option>
                            </select>
					    </div>
                </div>
            </form>
            <form class="Address">
                <div class="part2">
					<h2>Adresse:</h2>
					<div class="form-group2">
						<div>
                            
                            <input type="number" placeholder="Numéro de téléphone" required>
                        </div>
                        <div>
                            
							<input type="number" id="Code postal" class="input-text" placeholder="Code postal" required>
						</div><br>
                        <div>
                            
							<input type="text" id="region" class="input-text" placeholder="Region" required>
						</div>
						<div>
                            
                            <input id="adcom" type="text" placeholder="Address complete:" required>
						
						</div>
					</div>
					    
                </div>
                
            </form>
            <form class="contact">
                <div class="part3">
					<h2>Site web et réseaux sociaux:</h2>
					<div class="form-group3">
						<div>
                            <h5> <i class="bi bi-browser-edge"></i> Site web:</h5>
                            <input type="url" id="web" placeholder="site web exemple : https://forsa.com" required>
                        </div>
                        <br>
                        <div>
                            <h5> <i class="bi bi-linkedin"></i> Linkedin:</h5>
							<input type="url" id="linkedin" class="input-text" placeholder="Linkedin page url ex https://www.linkedin.com/entreprise/forsa" required>
						</div> <br>
						<div>
                            <h5> <i class="bi bi-facebook"></i> Facebook:</h5>
							<input type="url" id="facebook" class="input-text" placeholder="Facebook url ex:https://Facebook.com/forsa" required>
						
						</div> <br>
					</div>
					    
                </div>
                
            </form>
            <div class="enregistrer">
				<button id="bbtn1" routerLink="/logincompany" routerLinkActive="active">Précedent</button>
                <button id="bbtn2" routerLink="/offre" routerLinkActive="active">Enregistrer</button>
				
            </div>

			
		</div>

</body>
</html>