<!DOCTYPE html>
<html>
<body>
    <div class="navbar">
        <div class="tittle">
          <a href="welcomepage"><span>FO</span>RSA</a>
      </div>
          <div class="b1"><button id="btn1" routerLink="/home" routerLinkActive="active"><i class="bi bi-house"></i> Acceuil</button></div> 
          <div class="b2"><button id="btn2" routerLink="" routerLinkActive="active"> <i class="bi bi-border-width"></i> Candidatures</button></div>
          <div class="b3"><button id="btn3" routerLink="/profile" routerLinkActive="active"><i class="bi bi-person"></i> Profile</button></div>  
          
          <img src="assets/images/user.png" (click)="toggleDropdown()" class="logo-img">
          <div *ngIf="isDropdownOpen" class="dropdown">
              <ul>
                <li><i class="bi bi-box-arrow-left"></i> Se déconnecter</li>
              </ul>
            </div>
      </div>

    
    <div class="container" id="interface1">
        <div class="container2 mt-4 mb-4 p-3 d-flex justify-content-center">
            <div class="card p-4"> 
               <div class=" image d-flex flex-column justify-content-center align-items-center"> 
                   <button class="btn">
                    <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" />
                    </button> 
                   <span class="name mt-3">sirine </span> 
                   <span class="idd">étudiante à esprit</span> 
                   <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                       <span class="idd1">@email</span> 
                       <span><i class="fa fa-copy"></i></span>
                   </div> 
                   <span class="name mt-3">Adresse</span> 
                   <span class="idd"><i class="bi bi-geo-fill"></i> region</span> 
                   <span class="idd"><i class="bi bi-geo-alt"></i> localisation</span> 
                   <span class="idd"><i class="bi bi-telephone"></i> numero de telephone</span> <br>
                   <br>
                   
                   
                   <div class=" d-flex mt-2">
                    <button id="importer-cv" (click)="importCV()">Importer CV</button>

                   </div> 
                   <div class="d-flex mt-2">
                    <button id="mes-candidature">
                      <a id="candidature-link" routerLink="/mes-candidatures" >Mes Candidatures</a>
                    </button>
                  </div>
                  

                   
                   <div class=" px-2 rounded mt-4 date "> 
                       <span class="join">Inscrit en mai 2021</span> 
                   </div> 
               </div> 

               
            </div>

            
        </div>
       
            
                    <div class="container1">
                        <div class="row">
                           
                            <div class="col-md-5 border-right">
                                <div class="p-3 py-5">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <h2 class="text-right">Modifer profile</h2>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-6"><label class="labels">Nom</label><input type="text" class="form-control" placeholder="Nom" value="Zoghlami"></div>
                                        <div class="col-md-6"><label class="labels">Prenom</label><input type="text" class="form-control" value="Sirine" placeholder="prénom"></div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12"><label class="labels">Poste</label><input type="text" class="form-control" placeholder="Poste" value="Etudiante"></div>
                                        <div class="col-md-12"><label class="labels">email</label><input type="text" class="form-control" placeholder="email" value="abc@gmail.com"></div>
                                        <div class="col-md-12"><label class="labels">numero de telephone</label><input type="text" class="form-control" placeholder="numero de telephone" value="12345678"></div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6"><label class="labels">pays</label><input type="text" class="form-control" placeholder="pays" value="tunisie"></div>
                                        <div class="col-md-6"><label class="labels">Region</label><input type="text" class="form-control" value="ariana" placeholder="region"></div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <div class="p-3 py-5">
                                    <div class="d-flex justify-content-between align-items-center experience"><h2>modifier Experience</h2><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div>
                                    <div class="d-flex flex-row mt-3 exp-container"><img src="https://i.imgur.com/azSfBM3.png" width="45" height="45">
                                        <div class="work-experience ml-1"><span class="font-weight-bold d-block">Senior UI/UX Designer</span><span class="d-block text-black-50 labels">Twitter Inc.</span><span class="d-block text-black-50 labels">Mars,2017 - juin 2020</span></div>
                                    </div>
                                    <hr>
                                    <div class="d-flex flex-row mt-3 exp-container"><img src="https://img.icons8.com/color/100/000000/facebook.png" width="45" height="45">
                                        <div class="work-experience ml-1"><span class="font-weight-bold d-block">Senior UI/UX Designer</span><span class="d-block text-black-50 labels">Facebook Inc.</span><span class="d-block text-black-50 labels">Mars,2017 - juin 2020</span></div>
                                    </div>
                                    <hr>
                                    <div class="d-flex flex-row mt-3 exp-container"><img src="https://img.icons8.com/color/50/000000/google-logo.png" width="45" height="45">
                                        <div class="work-experience ml-1"><span class="font-weight-bold d-block">UI/UX Designer</span><span class="d-block text-black-50 labels">Google Inc.</span><span class="d-block text-black-50 labels">Mars,2017 - juin 2020</span></div>
                                    </div>
                                </div>
                            </div>      
                    
                            <div class="text-center">
                                <div>
                                    <span id="btn-enregister" class="border px-3 p-1 add-experience" (click)="showAlert()">Enregistrer</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    
         
      


    </div>
   
</body>

  <app-footer></app-footer>

</html>