@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{

  font-family: 'Poppins', sans-serif;
  
}
body{
  height: 100vh;
  width: 100%;
  background-color:#f5F5F5;
  font-family: 'Poppins', sans-serif;

  
}
.nav{
  text-decoration:underline;

}
.nav i{
  font-size: 18px;
}
.acceuil{
  margin-left: 10px;
  margin-top: 10px;
  background-color: #f5F5F5;
  border: none;
  color: #6a1c8f;
  transition: 200ms ease-in-out;

}
.acceuil:hover, i:hover{
  transform: scale(1.05);
}
.page{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.left{
  width: 400px;
  height: 540px;
  background: #fff;
  margin-left: 150px;
  margin-top: 30px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);

}
.container{
  width: 600px;
  height: 540px;
  max-width: 800px;
  background: #fff;
  margin-left: 20px;
  margin-top: 30px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.left p {
  margin-top: 30px;
  font-size: 13px;
  color: rgb(153, 145, 145);
}
.left h4{
  margin-top: 50px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color:blueviolet;
}
.left h6{

  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color:blueviolet;
}
.icons{
  margin-top: 40px;
  display: flex;
  gap: 50px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  color: rgb(84, 84, 179);

}
.icons  i:hover{
  transform: scale(1.1);
}
.container .text h1{
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  color:blueviolet;
 
}
.container form{
  padding: 30px 0 0 0;
}
.container form .form-row{
  display: flex;
  margin: 32px 0;
}
.container form #az{
  margin: 0px;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
  border: none;
}
form .form-row .textarea{
  height: 70px;
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
  border: none;
  outline: none; /* Remove the default focus outline */
  padding: 10px; /* Add some padding for spacing */
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label,
.input-data textarea:focus ~ label
{
  transform: translateY(-20px);
  font-size: 14px;
  color: #771fa0;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
  border: none;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.row{
  display: grid;
  grid-template-columns: 150px 20px;
}
#harq{

  margin-top: 10px;
}
#date{
  width: 200px;
  font-size: 15px;
  margin-left: 150px;
  padding-top: 6px;
}

.input-data .underline:before{
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before
{
  transform: scale(1);
  
}

.benregistrer{
  background-color: blueviolet;
  width: 490px;
  height: 40px;
  color: #fff;
  border-radius: 4px;
  border: none;
  margin-top: 120px;
  margin-left: 3px;
  
}
.benregistrer:hover{
  background-color: #6a1c8f;
}


.form-row h1{
  font-size: 15px;
  font-weight:lighter;
    font-family: 'Poppins', sans-serif;
}
.jomla h3{
  font-size:16px;
	color:rgb(81, 22, 136);
  margin-left: 100px;
}
.input-data .underline {
  height: 2px;
  background-color: rgb(209, 202, 202); /* Set the color of the underline */
  transition: width 0.3s; /* Add a smooth transition for width changes */
}

/* Apply styles when the input is focused */
.input-data input:focus + .underline,
.input-data textarea:focus + .underline
 {
  width: 100%; /* Expand the underline to cover the input width */
}
.input-data textarea {
  font-size: 13px;
  border-color: grey;
   width:500px;
   height: 120px;
   margin-top:30px;
   border: 1px solid #ccc;
   outline: none;
   
}

/***************************************************************************************************/
.navbar{
  background-color: white;
  height: 60px;
  margin-top: 20px;
  display: flex;
  align-items:center;
  justify-content:flex-start;
  box-shadow:  0 10px 8px rgba(0, 0, 0, 0.1); 
}
#btn1{
    margin-left: 20px;
    border: none;
    border-radius: 20px;
    background-color:white;
    height: 40px;
    width: 170px;
    font-size: 16px;
    color:rgb(73, 68, 68);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
#btn2{
    margin-left: 30px;
    border: none;
    background-color: white;
    border-radius: 20px;
    height: 40px;
    width: 180px;
    font-size: 16px;
    color: rgb(73, 68, 68);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#btn4{
  margin-left: 30px;
  border: none;
  background-color: white;
  border-radius: 5px;
  height: 40px;
  width: 180px;
  font-size: 16px;
  color: rgb(73, 68, 68);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#btn3{
  margin-left: 30px;
  border: none;
  background-color: blueviolet;
  border-radius: 5px;
  height: 40px;
  width: 180px;
  font-size: 16px;
  transition: background-color 0.3s, box-shadow 0.3s;
  color:white;
  box-shadow: 4px  4px 10px blueviolet;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a span{
    
    color:rgb(117, 57, 173);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    font-size: 40px;
    text-decoration: none;
    color:blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tittle{
    margin-left: 40px;
}

/************************************************************************************************************/

