<!DOCTYPE html>
<html lang="en" >
<head></head>
<body>
   <div class="nav">
      <button class="acceuil"  routerLink="/welcomepage" routerLinkActive="active"><i class="bi bi-arrow-left"></i> Retour au page d'acceuil</button></div>
   <div class="page">
   <div class="left">
      <h6>Rejoindre notre platforme</h6>
      <p>Simple, performant et équitable, grâce à l'IA, aux entretiens vidéo et à l'analyse de CV... le recrutement n'a jamais été aussi fluide, Forsa est né d'une nécessité. Celle de rapprocher candidats et recruteurs, de bâtir des passerelles et de permettre aux entreprises de qualité de dénicher les talents idéaux pour leurs projets. Notre objectif est d'éliminer les dépenses superflues inhérentes à ce processus, tant du côté des employeurs que des postulants.</p>
      <h4>suiver-nous</h4>
      <div class="icons">
         <i class="bi bi-facebook"></i>
         <i class="bi bi-instagram"></i>
         <i class="bi bi-google"></i>
         <i class="bi bi-linkedin"></i>
       </div>
       <br><br><br>
       <p> © 2023 Forsa , Politique de confidentialité</p>
   </div>
  
   
<div class="container">
   <div class="text">
      <h1>Contacter-nous</h1>
   </div>
   <form>
      <div class="form-row" id="az">
         <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label for=""><h1>Nom et prénom:</h1></label>
          </div>
        </div>

         <div class="form-row">

         <div class="input-data">
            <input type="text" required >
            <div class="underline"></div>
            <label for=""><h1>Adresse email :</h1></label>
         </div>
      </div>

      <div class="form-row">
        <div class="input-data">
            <textarea id="myTextarea" 

            placeholder="Entrez votre message ici..." ></textarea>
            <div  style="height: 2px;"></div>
            <label for="message" style="font-size: 24px;"><h1>Message :</h1></label>
            
        </div>
    </div>
    


      <div class="form-row submit-btn">
         <div class="input-data">
            <button   routerLink="/pagecv" routerLinkActive="active" class="benregistrer">Enregistrer</button>
         </div>
      </div>
   </form>
</div>
</div>
</body>
</html>