<!DOCTYPE html>
<html>
<body>
    <div class="nav">

    </div>
    <div class="barre">
        <h1>Informations société:</h1>
    </div>
    <div class="container">
        <div class="barre2">
            <div class="entreprise">
                <h3>Esm entreprise</h3>
                <h6>Entreprise</h6>
                <h6>informatique/telecom</h6>
            </div>
            <div class="address">
                <h3>address</h3>
                <p>chera3 ghana</p>
                <p>region</p>
                <p>numr tlf</p>
            </div>
        </div>
        <div class="offre">
            <h5>Pipeline actifs</h5>
            <h6>Créez votre premier pipeline de recrutement !!</h6>
            <p>Le pipeline de recrutement donne un aperçu des différentes étapes qu'un candidat traverse au cours de la période d'entretien et d'évaluation.</p>
            <button>Ajouter une offre</button>
        </div>
    </div>


</body>
</html>

