
<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Your App Title</title>
  <base href="/">
  <!-- Include Bootstrap CSS from CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>


<body>

  <div class="mt-4 d-flex justify-content-center align-items-center">
    <div class="card col-md-6 border-0"> <!-- Add the border-0 class to remove the border -->
      <div class="card-body">
        <p class="card-text">Une autre vision du recrutement</p>
        <div class="search-bar">
          <input type="text" class="form-control" placeholder="Search" />
        </div>
      </div>
    </div>
  </div>







  <div class="mt-4 d-flex justify-content-center align-items-center">
    <div class="card col-md-6 border-0"> <!-- Add the border-0 class to remove the border -->
      <div class="row no-gutters">
        <!-- Company Logo -->
        <div class="col-md-2">
          <img src="src\assets\img\img.jpg" alt="Company Logo" class="img-fluid">
        </div>

        <!-- Card Content -->
        <div class="col-md-10">
          <div class="card-body">
            <h5 class="card-title">Stage : Développeur Web (WordPress/Prestashop)</h5>
            <p class="card-text">
              Mission: Développement des sites Web en PHP. Mise en place de boutiques en ligne sous CMS Prestashop / Wordpress.
              Développement spécifique de modules PrestaShop / plugins WordPress. Intégration de thèmes HTML5, CSS3 Responsive
            </p>
            <!-- Add tags here using appropriate HTML elements -->
            <div class="tags">
              <span class="badge badge-secondary">PHP</span>
              <span class="badge badge-secondary">PrestaShop</span>
              <span class="badge badge-secondary">WordPress</span>
              <span class="badge badge-secondary">HTML5</span>
              <span class="badge badge-secondary">CSS3</span>
              <span class="badge badge-secondary">Responsive</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="mt-4 d-flex justify-content-center align-items-center">
    <div class="card col-md-6 border-0"> <!-- Add the border-0 class to remove the border -->
      <div class="row no-gutters">
        <!-- Company Logo -->
        <div class="col-md-2">
          <img src="src\assets\img\img.jpg" alt="Company Logo" class="img-fluid">
        </div>

        <!-- Card Content -->
        <div class="col-md-10">
          <div class="card-body">
            <h5 class="card-title">Stage : Développeur Web (WordPress/Prestashop)</h5>
            <p class="card-text">
              Mission: Développement des sites Web en PHP. Mise en place de boutiques en ligne sous CMS Prestashop / Wordpress.
              Développement spécifique de modules PrestaShop / plugins WordPress. Intégration de thèmes HTML5, CSS3 Responsive
            </p>
            <!-- Add tags here using appropriate HTML elements -->
            <div class="tags">
              <span class="badge badge-secondary">PHP</span>
              <span class="badge badge-secondary">PrestaShop</span>
              <span class="badge badge-secondary">WordPress</span>
              <span class="badge badge-secondary">HTML5</span>
              <span class="badge badge-secondary">CSS3</span>
              <span class="badge badge-secondary">Responsive</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</body>

</html>
