/* styles.css or your custom CSS file */

/* Set the background color of the whole page to grey */
html, body {
  height: 100%;
  background-color: #f2f2f2; /* Grey color */
}

body {
  margin: 0; /* Remove default margin */
  padding-top: 80px; /* Adjust the value to match the height of your navbar */
}

/* Add margin between tags */
.tags span {
  margin-right: 5px; /* Adjust the value to control the spacing between tags */
}

/* Apply grey background to tags */
.badge-secondary {
  background-color: #ccc;
}

.search-bar {
  margin-top: 16px;
  text-align: center; /* Center the input element horizontally */
}

.search-bar input {
  width: 100%; /* Set the input width to 100% of its parent (the card's width) */
  padding: 12px; /* Adjust the padding to make the search bar taller */
  border-radius: 4px;
  outline: none !important; /* Remove the outline for the input */
}

.card-content {
  flex-grow: 1; /* Allow the card content to expand and take remaining height */
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Customize the shadow values as desired */
}
